.product-list {
  display: flex;
  flex-wrap: wrap;

  > .product {
    lost-column: 1/3 flex;
    @include media($handheld) {
      lost-column: 1/1 flex;
    }

    > img {
      width: 100%;
    }
  }
}

body {
  background: $black;
}
