.register {
  &__container {
    background: #FEFEFE;

    @include media($handheld) {
      margin: 4em 1em 0;
    }
  }

  &__dropzone {
    lost-column: 8/12;
    display:inline-block;
    border: 1px dashed $silver;

    @include media($desktop) {
      lost-column: 9/12;
    }
  }

  &__image {
    max-width: 4em;
  }

  &__input,
  &__dropzone
  &__image {
    lost-column: 8/12;

    @include media($desktop) {
      lost-column: 9/12;
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 1.5em 0;
  }

  &__label {
    position: relative;
    lost-column: 4/12;

    @include media($desktop) {
      lost-column: 1;
    }
  }
}

.acf-button,
.register__btn {
  background: $green;
  border: none;
  color: $white;
  padding: 0.25em 0.5em 0.35em;
  font-size: 1em;
}

.form-table > tbody > .acf-field  {
  .acf-label,
  .acf-input {
    @include media($handheld) {
      lost-column: 1;
    }
  }
  & > .acf-input {
    @include media($handheld) {
      margin: -2em 0 1em;
      padding-left: 0;
    }
  }
}

.acf-field {
  input[type="text"],
  input[type="email"] ,
  input[type="password"] {
    border: 1px solid #ececec;
    width: 100%;

    @include media($handheld) {
      width: 100%;
      padding: 2%;
    }
  }

  input[type="checkbox"] {
    margin: 0 0.75em 0 0;
  }

  label {
    font-size: 18px;
  }

  .acf-label {
    @include media($handheld) {
      width: 100% !important;
    }
    p {
      font-size: 1em;
    }
  }

  &[data-name="private_profile"] {
    .acf-checkbox-list {
      @include media($handheld) {
        padding: 0;
      }
    }
  }
}

// input[type="text"],
// input[type="email"] ,
// input[type="password"] {
//   border: 1px solid #ececec;
// }

.required {
  position: relative 0.25em -0.5em null null;
  color: $red;

  @include media($handheld) {
    position: absolute ;
  }
}

.dk-select{
  width: 100%;
  margin-top: 1.5em;
}

.dk-selected {
  padding: 0.5em;
}


//
// .register {
//   .field_key-field_57c6704659d66,
//   .field_key-field_57c6704e59d67,
//   .field_key-field_57c687c497a14,
//   .field_key-field_57c6712159d73 {
//     display: none;
//   }
// }

.field_type-text,
.field_type-number {
  lost-column: 1/2;
}

.field_type-checkbox,
.field_type-message,
.field_key-field_57c670d559d68,
.register__submit  {
  lost-column: 1;
}

#acf-certified {
  ul {
    overflow: visible;
    margin: 0 0 12em;
  }
  li {
    position: relative;
    lost-column: 1/3;
    font-size: 18px;
    &:first-child,
    &:nth-child(2) {
      input {
        &::after {
          content: url(#{$theme}/img/made-with-aloha.jpg);
        }
      }
    }
    &:last-child {
      input::after {
        content: url(#{$theme}/img/hawaii-seals-of-quality-logo.jpg);
        transform: translateX(-10%);
      }
    }
  }
  input {
    margin-right: 5em !important;
    &::after {
      @include position(absolute, 2em null null 23%);
      transform: translateX(20px);
    }
  }
}
