{% extends "base.twig" %}

{% block content %}
	<div class="col-2--tablet category__sidebar hide-on-mobile">
		<h2>Filters</h2>
		{% include 'filter/filter.twig' %}
	</div>
	<div class="col-9--tablet">
		<div class="row">
			<form action="/" type="GET">
				<div class="col-3--tablet">
					{{ dropdown() }}
				</div>
				<div class="col-9--tablet relative">
						<input
							name="s"
							class="col-12 input-reset ba pa2"
							type="text"
							placeholder="What can we help you find?"
							class="input">
						<input
							class="btn btn--s absolute right-0 top-0 button-search"
							type="submit">
				</div>
			</form>
		</div>
		<h1>{{ title }}</h1>
		{% include 'product-list/product-list.twig' with {
			products: posts,
			pagination: pagination
		} %}
	</div>
{% endblock %}
