{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	{% include 'icons.twig' %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include 'header/header.twig' %}

		<main>
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</main>

		{% include 'footer/footer.twig' %}
		{% if "administrator" in current_user.roles %}
			{% include 'admin-button/admin-button.twig' %}
		{% endif %}
	</body>
	<script type="text/javascript" src="{{ site.theme.link }}/js/bundle.js"></script>
	{% block footer_scripts %}{% endblock %}
</html>
