{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="col-12 col-8--tablet col6--desktop">
			<h1>Vendors</h1>
		</div>
		<div class="col-12 col-4--tablet col6--desktop">
			<h1>Products</h1>
		</div>
	</div>
{% endblock %}
