{% extends "base.twig" %}

{% block content %}
	<div class="container ph4 ph0--ns">
		{% if title %}
			<h1>{{ title }}</h1>
		{% endif %}
		<div class="col-4--tablet col-3--desktop">
			<form action="/" type="GET">
				<label for="s" class="label black mb1">Search</label>
				<input name="s" class="col-12 input-reset ba pa2" type="text" class="input">
			</form>
			<div class="mt3 fl w-100">
				{% if users %}
					<h1 class="f4 bold center mt2">Vendors</h1>
					<ul class="list pl0 ml0 ba b--light-silver br3">
						{% for user in users %}
							{% set user = TimberUser(user) %}
						  <li class="ph3 pv2 bb b--light-silver">
								<a class="link black" href="{{ user.link }}">
									{{ user.display_name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
				    No vendors found
				{% endif %}
			</div>
		</div>
		<div class="col-8--tablet col-9--desktop omega pl4-ns">
			<h1 class="f4 bold center">Products</h1>
				{% if products %}
					{% include 'product-list/product-list.twig' with {
						products: products,
						categories: categories,
						pagination: pagination,
						defaults: defaults
				} only %}
				{% else %}
				    No Products Found
				{% endif %}
		</div>
	</div>
{% endblock %}
