{% extends "base.twig" %}

{% block content %}
	<div class="col-12 col-2--desktop">
	</div>
	<div class="col-10">
		<form action="/" type="GET">
			<label for="s" class="label black mb1">Search for a product or vendor</label>
			<input name="s" class="col-12 input-reset ba pa2" type="text" class="input">
		</form>
	</div>
{% endblock %}
