$dk-color-aux: $green;
$dk-border-color: #CCCCCC;
$dk-border-color-aux: $green;
$dk-border-radius: 0.4em;
$dk-disabled-color: #BBBBBB;

.dk-select.dk-select {
  width: 100%;
  margin-bottom: 1em;
}

.dk-selected.dk-selected {
  padding: 0.55em;
}
