.footer {
  @include clearfix;
  padding: 2em;
  background: darken($green, 10%);
  color: $white;

  &-nav {
    @include span-columns(6);
    @include omega(2n);

    > a {
      margin-right: 0.75em;
    }
  }
}

.social-icon {
  letter-spacing: -0.35em;
  > .icon {
    @include size(1em);
    @include breakpoint($tablet) {
      @include size(2em);
    }
    fill: $white;
    margin-right: 0.75em;
  }

  > .text {
    display: none;
  }
}
