.header {
  background: $white;
  color: $white;
  z-index: 14;
  box-shadow: 0 0 10px rgba($black, 0.3);
  line-height: 75px;

  &-logo {
    @include size(em(75px) auto);
    @include position(relative, 0.75em null null);
    margin-right: 1em;
  }
}
