<footer class="footer">
	<div class="container">
		<nav class="footer-nav -left">
			<a class="link white ttu mr2" href="/about">About Us</a>
			<a class="link white ttu" href="/terms">Terms of Service</a>
		</nav>
		<nav class="footer-nav -right tr">
			<a href="https://www.facebook.com/Hawaii-Department-of-Agriculture-274025339276783/" class="social-icon -facebook link">
        <span class="text">Facebook</span>
        <svg class="icon"><use xlink:href="#facebook"></svg>
      </a>
			<a href="https://twitter.com/hdoapio" class="social-icon -twitter link">
        <span class="text">Twitter</span>
        <svg class="icon"><use xlink:href="#twitter"></svg>
      </a>
      <a href="https://www.youtube.com/channel/UCu8ne-a4cg_kW3G-95P27KA" class="social-icon -youtube link">
        <span class="text">Youtube</span>
        <svg class="icon"><use xlink:href="#video"></svg>
      </a>
		</nav>
	</div>
</footer>
