$handheld: new-breakpoint(maax-width em(1023px));
$tablet: new-breakpoint(min-width em(1024px));
$desktop: new-breakpoint(min-width em(1280px));

main {
  padding-top: 7em;
}

.container {
  @include outer-container;
  padding: 0 10px;
  @include media($desktop) {
    padding: 0;
  }
}

.row {
  @include row;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include span-columns($i);
    @include omega("#{12 / $i}n");
  }

  .shift-#{$i} {
    @include shift($i);
  }
}


@include media($tablet) {
  @for $i from 1 through 12 {
    .col-#{$i}--tablet {
      @include span-columns($i);
      @include omega("#{12 / $i}n");
    }
  }
}

@include media($desktop) {
  @for $i from 1 through 12 {
    .col-#{$i}--desktop {
      @include span-columns($i);
      @include omega("#{12 / $i}n");
    }
  }
}

.omega {
  margin-right: 0;
}
